:root {
  --owd-background-color: #161616;
  --p-color: white;

  --p-adwaita-dark-bg-color: #323232;
  --p-adwaita-dark-fg-color: #dcdcdc;
  --p-adwaita-dark-primary-color: #3584e4;
  --p-adwaita-dark-secondary-color: #4a4a4a;
  --p-adwaita-dark-accent-color: #8ec07c;
  --p-adwaita-dark-error-color: #cc6666;
  --p-adwaita-dark-warning-color: #d7ba7d;
  --p-adwaita-dark-info-color: #8fbcbb;
}