@import '../../vuetify/VBtn/mixins';

.owd-window {
  .owd-window__nav {
    &__btn-group--append {
      padding-left: 8px;
    }

    .owd-btn {
      box-sizing: border-box;

      &.owd-btn--essential {
        background: none;
        border-color: transparent;
        box-shadow: none;
        border-radius: 50%;
        width: 26px;
        min-width: 26px;
        height: 26px;
        line-height: 24px;

        &:before {
          box-shadow: none !important;
        }

        i {
          font-size: 14px;
        }
      }
    }
  }

  &--focused {
    .owd-window__nav .owd-btn {
      &.owd-btn--essential {
        &:not(:hover) {
          background: none;
          border-color: transparent;
          box-shadow: none;
        }
      }
    }
  }

  .owd-window__nav .owd-btn {
    @include btn-inactive;
  }
  &--focused .owd-window__nav .owd-btn {
    @include btn;
  }

  &:not(&--preserve-material) {
    .owd-btn {
      @include btn-inactive;
    }
  }
  &--focused:not(&--preserve-material) {
    .owd-btn {
      @include btn;
    }
  }
}