:root {
  --p-textarea-padding-x: var(--p-input-padding-x);
  --p-textarea-padding-y: var(--p-input-padding-y);

  --p-textarea-color: var(--p-input-color);
  --p-textarea-background: rgba(255, 255, 255, 0.06);

  --p-textarea-border-radius: var(--p-input-border-radius);
}

.p-inputtext {
}