.owd-btn {
  box-shadow: initial;

  &:before {
    box-shadow: initial;
  }

  &.owd-notice-fullscreen-exit {
    color: #AAA !important;
    text-align: center;
    text-transform: inherit;

    kbd {
      border: 1px solid #BBB;
      padding: 3px 4px;
      margin: 0 8px;
      border-radius: 2px;
    }
  }
}