@import '../../vuetify/VBtn/mixins';

.v-btn {
  @include btn-inactive;

  &:before {
    box-shadow: initial;
    display: none !important;
  }

  .v-ripple__container {
    display: none;
  }
}

.owd-window--focused {
  .v-btn {
    @include btn;
  }
}

.owd-btn {
  box-shadow: initial;

  &:before {
    box-shadow: initial;
  }
}