:root {
  --p-checkbox-border-color: #9ca3af; // simile a gray-400
  --p-checkbox-hover-border: #6c757d;
  --p-checkbox-border-radius: 4px;
  --p-checkbox-width: 18px;
  --p-checkbox-height: 18px;
}

.p-checkbox {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;

  .p-checkbox-box {
    border: 1px solid var(--p-checkbox-border-color);
    border-radius: var(--p-checkbox-border-radius);
    background-color: transparent;
  }
}
