:root {
  --p-slider-handle-width: 16px;
  --p-slider-handle-height: 16px;
  --p-slider-range-background: var(--p-adwaita-dark-primary-color);
  --p-slider-handle-background: #eee;
  --p-slider-handle-hover-background: white;
  --p-slider-handle-border-radius: 8px;

  --p-slider-track-background: #555;
  --p-slider-track-size: 4px;
  --p-slider-track-border-radius: 4px;
}

.p-slider {
  font-weight: bold;

  &-lg {

  }

  &--icon {
    --p-button-lg-padding-x: 10px;
  }
}